%p#notice= notice
%h1 "Listing Reviews"
%table
  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.text
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'New Review', new_review_path
