!!!
%html
  %head
    %title= 'Skillgrid2'
    = stylesheet_link_tag :application, media: 'all'
    = javascript_include_tag :application
    = csrf_meta_tags
%body
  .container-fluid
    .row
      .col-md-12
        = current_user.email
    .row
      .col-md-12
        = yield
